*{
    border: 1px solid red;
}
@font-face {
    font-family: 'Microorganism';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

#body{
    background-color: #e2e7e9;
}
#list{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

#card{
    border-radius: 1%;
    margin: 30px 0;
    background-color: #717a87;
    padding: 10px;

}
.title{
    font-family: 'Microorganism';
    font-size: 30px;
    color: white;
}

.name{
    font-family: 'Microorganism';
    font-size: 20px;
    color: white;
}

.detail{
    font-family: 'Microorganism';
    font-size: 20px;
    display: flex;
    background-color: #FFFBEB;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}

.member{
    font-family: 'Microorganism';
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: end;
}

.apply_btn{
    font-family: 'Microorganism';
    font-size: 18px;
    background-color: #717a87;
    color: white;
}
