*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
li{ list-style-type: none; }
a { text-decoration: none; }
@font-face {
    font-family: 'Microorganism';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

#header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: #FFFFFF;
}

#topmenu{
    font-family: 'Microorganism';
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
    font-size: 20px;
}
#topmenu > li > span{
    padding: 0px 20px;
}

#mainmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}
.logo{
    width: 210px;
    height: auto;
    display: block;
}   
#mainmenu > ul{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
#mainmenu > ul > li{
    font-family: 'Microorganism';
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 40px;
    margin-top: 0;
}

#main{
    font-family: 'Microorganism';
    font-size: 40px;
    color: white;
}
#main1, #main2, #main3{
    background-image: url("img/스터디.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*#main2{
    background-image: url("./스터디.png");
    background-attachment: fixed; 
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}*/
.content{
    text-align: center;
    align-items: center;
}

.content > p{
    margin-top: 20px;
}

#footer{
    font-family: 'Microorganism';
    font-size: 40px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FFFBEB;
    color: rgba(0, 0, 0, 0.2);
}

#popup{
    position: fixed;
    right: 0px;
    top: 30%;
}

#popup img{
    width: 20px;
}

#popup > ul > li{
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    position: relative;
}

#popup > ul > li > span{
    position: absolute;
    top: 15px;
    right: 80px;
    display: none;
    width: 80px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 5px;
    font-family:'Microorganism';
    font-size: 20px;
    justify-content: center;   
    align-items: center;
}

#popup > ul > li:hover .popupsub{
    display: flex;
}

a:hover{
    color: pink;
}
a{
    color: black;
}