@font-face {
    font-family: 'Microorganism';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

/* *{
    border: 1px solid red;
} */

#body{
    background-color: #e2e7e9;
    padding-top: 100px;
    min-height: 100vh;
}

#myList{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

#card{
    border-radius: 15px;
    margin: 30px 0;
    background-color: #717a87;
    padding: 10px;
}

.title{
    font-family: 'Microorganism';
    font-size: 30px;
    color: white;
}

.name{
    font-family: 'Microorganism';
    font-size: 20px;
    color: white;
}

.detail{
    font-family: 'Microorganism';
    font-size: 20px;
    display: flex;
    background-color: #FFFBEB;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}   

.member{
    font-family: 'Microorganism';
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
}

.remove,
.leave{
    font-family: 'Microorganism';
    font-size: 20px;
    background-color: #354649;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}

#bodyHeader{
    font-family: 'Microorganism';
    font-size: 80px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

#edit{
    width: 60%;
    margin: 0 auto 30px;
    background-color: #717a87;
    border-radius: 15px;
    padding: 20px;
}

#editName,
#editPw,
#editId,
#editPosition{
    font-family: 'Microorganism';
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#editPosition{
    margin-bottom: 0;
}

#editName input,
#editPw input,
#editId input,
#editPosition select{
    font-family: 'Microorganism';
    font-size: 20px;
    background-color: #FFFBEB;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px;
}

#editName button,
#editPw button,
#editId button,
#editPosition button{
    font-family: 'Microorganism';
    font-size: 20px;
    background-color: #354649;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
