*{

    box-sizing: border-box;
    padding: 0px; margin: 0px;
        
} /* 전체 적용 */

a{ text-decoration: none; color: black;}

li{ 
    list-style-type: none;
    padding: 20px;
}

body{
    background-color: #E0E7E9;
}

.Wrap{
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
}

.logo > img{
    width: 300px;
    padding-top: 15px;
}

.header-list{
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

.banner{
    width: 100%;
    position: relative;
}

.banner > img{
    width: 100%;
    position: relative;
}

.banner > span{
    position: absolute;
    top : 50px;
    left: 70px;
    font-weight: bold;
    font-size: 30px;
}

.img1{
    width: 100%;
    height: 150px;
    object-fit: cover; 
    object-position: bottom;
}

.main{
    width: 1000px;
    margin: 0 auto;
}

.m1{
    display: block;
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 15px;
}

.box-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    background-color: beige;
    width: 300px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    
}

.bt{
    display: block;
    font-size: 20px;
    margin: 0px 0px 10px;
}
.bt1{
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.innerbox{
    display: flex;
}

.innerbox > .bt1{
    padding-top: 2px;
}


.bt1{
    height: 30px;
}
.rolebox{
    background-color: #6e7c8c;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    font-size: 15px;
}

.text-wrap{
    margin-top: 50px;
}

.m2{
    font-size: 30px;
}

.line{
    border: none;
    border-top: 2px solid #b1afaf;
    margin-top: 15px;
    margin-bottom: 10px;
}

.boxwrap1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box4{
    margin-top: 20px;
    width: 460px;
    height: 70px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box5{
    margin-top: 20px;
    width: 460px;
    height: 70px;
    background-color: #6e7c8c;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: #354649;
    margin-top: 60px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.footer_logo > img{
    width: 300px;
    height: 97px;
    object-fit: contain;
}

.fm{
    display: flex;
    justify-content: space-between;
}

.fm a{
    color: white;
}

.sns {
    display: flex;
    align-items: center;
    gap: 15px;    
}

.sns > img {
    width: 50px;
    height: 50px;
    object-fit: contain;   
}