@font-face {
    font-family: 'Microorganism';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFFFFF;
    color: #354649;
    font-family: 'Microorganism';
}

a {
    text-decoration: none;
    color: #354649;
    font-size: 50px;
}

input, select, textarea, button {
    font-family: 'Microorganism';
}

/* 상단 메뉴 */
.header {
    width: 100%;
    height: 80px;
    border-bottom: solid 1px #E0E7E9;
    background-color: #FFFFFF;
}

.header-inner {
    width: 1280px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 260px;
}

.logo img {
    width: 210px;
    height: auto;
    display: block;
}

.nav {
    display: flex;
    gap: 55px;
}

.nav a {
    font-size: 25px;
    color: #354649;
}

.logout {
    margin-left: auto;
    font-size: 24px;
}
/* 제목 영역 */
.write-title-area {
    width: 100%;
    height: 180px;
    background-color: #F5FAFA;
}

.write-title-inner {
    width: 1000px;
    height: 180px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.title-img-box {
    width: 90px;
    height: 90px;
}

.title-img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.title-text-box{
    width: 300px;
}

.page-title {
    font-size: 44px;
    color: #354649;
}

.page-subtitle {
    margin-top: 5px;
    font-size: 22px;
    color: #6C7A89;
}

.container {
    width: 1000px;
    margin: -25px auto 60px auto;
}

.form-box {
    width: 900px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: solid 1px #E0E7E9;
    border-radius: 12px;
    box-shadow: 0px 4px 15px #dddddd;
    padding: 45px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.form-label {
    width: 140px;
    font-size: 22px;
    font-weight: bold;
    color: #354649;
}

.form-input,.name-input {
    width: 600px;
    height: 40px;
    border: solid 1px #D6DFE1;
    border-radius: 6px;
    padding-left: 15px;
    font-size: 20px;
    color: #354649;
}

.long-input {
    width: 700px;
}

.form-select {
    width: 420px;
    height: 46px;
    border: solid 1px #D6DFE1;
    border-radius: 6px;
    padding-left: 15px;
    font-size: 20px;
    color: #354649;
}

#categorySelect{
    width: 200px;
    height: 46px;
    border: solid 1px #D6DFE1;
    border-radius: 6px;
    padding-left: 15px;
    font-size: 20px;
    color: gray;   
}
#personnelSelect{
    width: 170px;
    height: 46px;
    border: solid 1px #D6DFE1;
    border-radius: 6px;
    padding-left: 15px;
    font-size: 20px;
    color: gray;   
}
.form-label2{
    width: 100px;
    font-size: 22px;
    font-weight: bold;
    color: #354649;
    margin-left: 30px;
}
.form-row2{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}
.form-textarea{
    width: 700px;
    height: 270px;
    border: 1px solid #D6DFE1;
    border-radius: 6px;
    padding: 15px;
    font-size: 20px;
    color: #354649;
}
.textarea-row{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    align-items: flex-start;
}

hr{
    border: none;
    border-top: 1px solid #E0E7E9;
    margin: 28px 0;
}
.btn-area{
    text-align: right;
}
.btn{
    width: 120px;
    margin-left: 5px;
    height: 38px;
    border-radius: 5px;
    font-size: 17px;
}
.btn-sub{
    background-color: white;
    border: 1px solid rgb(152, 192, 193);
}
.btn-main{
    background-color: rgb(152, 192, 193);
    color: white;
    border: none;
}

#writerInput:disabled{
    background-color: #f3f5f6;
    color: #6C7A89;
    cursor: not-allowed;
}
/* 푸터 영역 */
.footer-area {
width: 100%;
background-color: mistyrose;
border-top: 1px solid #F0D4D0;
padding: 22px 0;
}

.footer-inner {
width: 1280px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}

/* 왼쪽 로고 + 문구 */
.footer-logo {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.footer-logo-img-box {
width: 150px;
height: 45px;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
}

.footer-logo-img-box img {
width: 230px;
height: auto;
display: block;
}

.footer-logo p {
margin-top: 4px;
font-size: 17px;
color: gray;
}

/* 오른쪽 메뉴 */
.footer-menu {
display: flex;
align-items: center;
gap: 12px;
}

.footer-menu a {
font-size: 18px;
color: gray;
}

.footer-menu span {
font-size: 18px;
color: gray;
}